# Python virtual environment
RetailEnv/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets / credentials
*.env

# Temporary files
*.tmp
*.log